/*    STYLE DU BODY    */

body {
    margin: 0;
    padding: 0;
    background-color: #0a3d6e;
    background: url('../img/marrinBackground.gif') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    font-family : Lucida Sans;
	justify-content : justify;
}


/*    STYLE DU HEADER ET DU FOOTER    */

header, footer {
	padding : 15px;
	text-align : center;
    background-color: #6699b2AA;
    margin: 5px 8px;
    border-radius: 3px;
}

nav {
	padding : 10px;
	margin : 10px;
	background-color : #004c6b90; 
	border-radius: 5px;
}

nav p {
    display: inline;
    color: #acf4fc;
}

nav a {
    margin: 0 2px;
}

header img, header h1 {
    display: inline-block;
}




/*    SECTION RULES    */

section, fieldset, main {
	margin : 10px auto; 
	padding : 15px;
	background-color : #acf4fcDD;
	border-radius : 10px;
    width: 92%;
	max-width : 900px;
    border-color: transparent;
    color : #002833;
}




/*    PARAGRAPHE RULES    */

/* rules of the paragraphe with class = citation */
.citation {
	font-style : italic;
}




/*    STYLE DU TABLEAU    */

/*Style des bordures du tableau*/
table, td, caption {
	border : 1px solid #002833;
}

#result {
	width : 100%;
	margin : 10px auto;
    background-color: #0988b3;
}

caption {
	font-size: large;
}

thead, tfoot {
	background-color: #acf4fc;
}




/*    STYLE DES BOUTTONS    */

input[type="button"] {
    display: inline-block;
	margin : 2px 2.5%;
	background-color : #004c6b;
	color : #acf4fc;
	font-weight : bold;
    padding: 8px;
    border-radius: 5px;
    border-color: transparent;
}

input[type="button"]:hover {
    background-color : #004c6b90;
	color : #ccffff;
    border-color: #004c6b;
}





/*    LINK RULES    */

/*  Basic Link Forme */

a {
	text-decoration-line : none;
	color : #acf4fc;
	border-radius : 2px;
	background-color : transparent;
}

a:hover {
    color: #ccffff;
}





/*______________QUIZ STYLE______________*/




/*Class pour tous les fieldsets qui ne sont pas visible au chargement de la page*/
.hidden {
    display: none;
}




/* Style lorsque les informations ne sont pas toutes remplies */

/*Style des informations vides*/
.notFilled {
    border-color: red;
}
/*Style du message d'erreur*/
#errorMessage {
    color: red;
}




/* Couleur des lignes du tableau et de la case du meilleur score */

/*Style du theme marin*/
.marin {
    background-color: #ccffff;
}

/*Style du theme terrestre*/
.terrestre {
    background-color: #daf8b8;
}

/*Style quand le meilleur score est des deux thèmes à la fois*/
.mix {
    background-color: #ccffcc;
}




/*Style du span où est noté le meilleur score*/
#bestScore {
    display: inline-block;
    border: solid 1px black;
    border-radius: 2px;
    width: 40px;
    height: 20px;
    color: black;
    text-align: center;
    background-color: #acf4fc;
}




/*IMAGE*/
#ocean {
    position: relative;
    aspect-ratio: 1 / 1;
}

#Corail {
    width: 100%;
    height: auto;
    display: block;
    top: 4%;
}

#ocean img {
    position: absolute;
}

#Baleine {
    width: 45%;
    height: auto;
    top: 20%;
    right: 15%;
    z-index: 1;
}

#Hippocampe {
    width: 6%;
    height: auto;
    top: 47%;
    right: 20%;
    z-index: 1;
}

#PoissonClown {
    width: 15%;
    height: auto;
    top: 65%;
    left: 20%;
    z-index: 1;
}

#Tortue {
    width: 25%;
    height: auto;
    bottom: 2%;
    right: 40%;
    z-index: 1;
}

/*TEXTE IMAGE*/
.image-container {
  display: inline-block;

}

.image-text {
  position: absolute;
  top: 10px; 
  background: #00304290; 
  color: white;
  padding: 10px;
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.image-container:hover .image-text{
  opacity: 1; 
}
